#include <windows.h>

#define _STRINGIFY(x) #x
#define STRINGIFY(x) _STRINGIFY(x)

 IDI_ICON1               ICON    DISCARDABLE     STRINGIFY(F:/MyProject/CharForProgrammers/resources/windowbar/app/chat.ico)
